<div class="error-overlay animated quick fadeIn"></div>
<div class="error center animated quick fadeInUp">
    <p>
        {{@message}}
    </p>
    <div class="close" onclick={{action closeMessage}}>Ok</div>
</div>
