<div id="login" class="screen">

    <div class="login-container animated fadeInUp">

        <img src="/assets/Haapa.svg" width="92" height="92">

        <div class="login-form">

            <input type="text" onkeyup={{action userInput}} autocomplete="off" placeholder="Username">
            <div class="line"></div>
            <input type="password" onkeyup={{action passInput}} autocomplete="off" placeholder="Password">

            <button class="haapa-button medium" onclick={{action attempt}}>Log in to Haapa</button>

            <p>Travel safe around the world with <u>Haapa</u>. We cover all your healthcare needs while abroad.</p>

        </div>

    </div>

</div>
