<div class="tab-bar">

    <div class="line"></div>
    <div class="buttons">
        <button class="medicine" onclick={{action changeState 'medicine'}}>
            <span>Medicine</span>
        </button>
        <button class="vaccines" onclick={{action changeState 'vaccines'}}>
            <span>Vaccines</span>
        </button>
        <button class="information" onclick={{action changeState 'information'}}>
            <span>Travel</span>
        </button>
    </div>

</div>
